# General
.DS_Store
*.log
*.env
*.lock
Thumbs.db

# Firebase Service Account
server/config/service-account.json

# Node.js and React Native
node_modules/
npm-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
dist/
build/

# Metro and React Native temporary files
.bundle/
__tests__/
coverage/
*.jsbundle
*.map
metro.config.js
*.cache
logs/
*.tmp
*.swp

# Android/IntelliJ
android/.gradle
android/.idea
android/local.properties
android/*.iml
android/cxx/
android/build/
android/app/build/
android/app/debug.keystore
*.keystore
.gradle/
.idea/

# iOS/Xcode
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
ios/*.pbxuser
ios/*.xcuserstate
ios/SayIt.xcodeproj/project.xcworkspace/xcuserdata/
ios/SayIt.xcodeproj/xcuserdata/
ios/SayIt.xcworkspace/xcuserdata/
ios/SayIt.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcode.env.local

# Ruby / CocoaPods
*.xcworkspace
/vendor/bundle/
**/Pods/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/

# Testing
/coverage/
*.test.js
*.spec.js
*.spec.ts

# Temporary Files
*.tmp
*.swp
.cache
*.bak
*.backup

# Others
.vscode/
.idea/
.eslintcache
.prettiercache
.editorconfig
